@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  line-height: 30px;
}
.homepage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #F93827,#FF9D23,#FFE31A,#16C47F,#074799,#4635B1,#B771E5);
  color: #fff;
}

.homepage h1{
  font-family: "Permanent Marker", serif;
  font-size: 3rem;
  font-weight: 900;
}
.homepage button{
  border: none;
  background-color: #fff;
  color: #4635B1;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px ;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.container{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playBtn{
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 20px;
  cursor: pointer;
}
.colors {
  margin-top: 20px;
  display:grid;
  grid-template-columns:100px 100px 100px;
  gap: 20px;
  cursor: pointer;
}

.colors button {
  cursor: pointer;
  border-radius: 10%;
  padding: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(107, 107, 107, 0.19);
}
.color_box{
  width: 100px;
  height: 100px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(107, 107, 107, 0.19);
  border-radius: 10%;
  cursor:pointer;
}
.newGameBtn{
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(130, 189, 240);
}
.newGameBtn:hover{
  background-color: rgb(24, 139, 240);
}

.score_p{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
}
.score_p p, .lives_h2{
  font-family: "Roboto", serif;
  font-weight: 600;
  padding: 10px;
  font-size: 20px;
}

.font_style{
  font-family: "Roboto", serif;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}
.game_over{
  border: #A6AEBF;
  background-color: #C5D3E8;
}
.correct_match{
  border: 1px solid #16C47F;
  background-color: #45ecaa;

}
.match_color {
  font-size: 1.5rem;
}

.wrong_match{
  border: #F93827;
  background-color: #f87e73;
 
}
@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  50% {
      transform: scale(1.2);
      opacity: 0.8;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}
.heart{
  display: inline-block;
  animation: pulse 2s infinite ease-in-out;
  padding: 0 5px;
}

@media (min-width: 480px) and (max-width:780px){
  .container{
    width: 300px;
  }
  .color_box{
    width: 100px;
    height: 100px; 
    margin: 15px auto;
  }
  .colors{ 
    gap: 30px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 70px 70px;
  }
  .score_p p, .lives_h2{
    font-size: 17px;
  }
  .newGameBtn{
    font-size: 0.8rem;
  }
}

@media (min-width:781px) and (max-width:998px){
  .container{
    width: 400px ;
  }
}

@media (min-width:999px) and (max-width:1024px){
  .container{
    width: 410px;
  }
}