@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  line-height: 30px;

}
.homepage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #F93827,#FF9D23,#16C47F,#B771E5);
  color: #fff;
 
  
}

.homepage h1{
  font-family: "Permanent Marker", serif;
  font-size: 3rem;
  font-weight: 900;
}
.homepage button{
  border: none;
  background-color: #fff;
  color: #4635B1;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px ;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playBtn{
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 20px;
  cursor: pointer;
}
.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.colors button {
  cursor: pointer;
  border-radius: 100%;
  padding: 30px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(124, 124, 124, 0.2), 0 6px 20px 0 rgba(107, 107, 107, 0.19);
}
.newGameBtn{
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(130, 189, 240);
}
.newGameBtn:hover{
  background-color: rgb(73, 159, 235);
}

.score_p{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
}
.score_p p, .lives_h2{
  font-family: "Roboto", serif;
  font-weight: 600;
  padding: 10px;
}